
<div class="holder">
<div class="top_Bar">
    <div style="float:left">
     
                    
                    <div class="common"><div class="app-name"><span class="common">{{#link-to 'student'  [] tagName="span"}}Students{{/link-to}}</span> <span class="recent_Added common">+24</span></div><span style="font-size:12px;margin-left:3px;">1000</span></div>

                </div>
    
    <div style="float:right">
        <div class="search">
            <span class="common icon_sprite search_icon"></span>
            <span class = "common"><input type="search" placeholder="search students" style="width: 200px;"></span></div>
    
    </div>
    <div style="clear:both"></div>
    
</div>
<div class="nav_Bar">
    <ul class="routes">
       
        <li class=""><span class="common icon_sprite add_student"></span><span class="common">Rated Students</span></li>
    <li class=""><span class="common icon_sprite add_teacher"></span><span class="common">{{#link-to 'teacher'  [] tagName ="span"}}Unrated Students{{/link-to}}</span></li>
   
   
    </ul>
    <span style = "position:absolute;bottom: 5px;right:5px; color:white"> Logout </span>
</div>
<div class="app_Content">
        <div class="create_Pages" style="margin-top:60px">

            <div class="details_">
                <table>
                    <tbody>
                        <tr>
                            <th>Name</th><th colspan="3">Actions</th>
                        </tr>
{{#each teachers as |teacher|}}
        <tr>
            
            <td>{{teacher.name}}</td>
            <td><i class="button"  style="background:white" {{action "viewTeacher" teacher}}><img src="/assets/images/view.png"></i></td>
            <td><i class="button"   style="background:white" {{action "editTeacher" teacher}}><img src="/assets/images/edit.png"></i></td>
            <td><i class="button"  style="background:white"  {{action "deleteTeacher" teacher}}><img src="/assets/images/delete.png"></i></td>
        </tr>
{{/each}}
                    </tbody>
                </table>
            </div>
            
    </div>
    
</div>
    
</div>
