
<div class="holder">
<div class="top_Bar">
<div style="float:right">
<div class="signin_Email"><input value="mukil101@zoho.com" type="text"  name="username" id="username" placeholder="E-mail"/></div>
<div class= "password"><input value="abc123" type="password" name="password" id="password"  placeholder="Password"></div>
<div class="signin_button button" {{action 'login'}}>Sign in</div>
<div style="display:none;color:white" id="loginError">
Incorrect username or password.
</div>
<div style="clear:both"></div>
</div>
</div>
<div style="padding:5%">

<div class="common" style="    width: 48%;">
<img src="/assets/images/lap_second.png"/     width= "100%"
>
</div>
  <div class="entity_one common">
                        <div>
                    <span class="sprite pretblack_logo"></span>
                        
                        <span class="app_name">Pretium</span>
                            </div>
                        <div class="about_Details">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply </div>

                          <div class="link_Stores">
                    <div class="common"><img src="/assets/images/apple.png" width="100px" height="30px"/></div>
                        <div class="common"><img src="/assets/images/googlestore.png" width="100px" height="30px"> </div>
                    </div>
                    </div>
</div>


</div>

