<div class = "holder">
<div class="top_Bar" style="text-align:center">
	<span class="sprite logout_pret"></span>
</div>
<div style="padding:5%;text-align:center">

<div class="common" style="width: 80%; text-align:center">

<img src="/assets/images/lap_second.png"/     width= "48%" class="common" style=""
>
<div class="common">See you next time..!</div>
	<span class="button" style = "width:200px;color:white"> Log in again </span>
</div>

</div>

</div>