
<div class="holder">
<div class="top_Bar">
    <div style="float:left">
     <div class="top_Common common">
                    <div class="common" style="border-radius:50%;background:#cccccc"><img src="" width="45px" height="45px"></div>
                    <div class="common"><div class="app-name">Zoho University</div><span style="font-size:12px">Chennai</span></div>
                </div>
    <div class="top_Common common">
                    
                    <div class="common"><div class="app-name"><span class="common">Students</span> <span class="recent_Added common">+24</span></div><span style="font-size:12px;margin-left:3px;">1000</span></div>
                </div>
    <div class="top_Common common">
                    
                    <div class="common"><div class="app-name"><span class="common">Teachers</span><span class="recent_Added common">+12</span></div><span style="font-size:12px;margin-left:5px">100</span></div>
                </div>
        </div>
    <div style="float:right">
        <div class="search">
            <span class="common icon_sprite search_icon"></span>
            <span class = "common"><input type="search" placeholder="search students or staffss.." style="width: 200px;"></span></div>
    
    </div>
    <div style="clear:both"></div>
    
</div>
<div class="nav_Bar">
    <ul class="routes">
        <li class=""><span class="common icon_sprite dashboard_icon"></span><span class="common">Dashboard</span></li>
        <li class=""><span class="common icon_sprite add_student"></span><span class="common">Add Student</span></li>
    <li class=""><span class="common icon_sprite add_teacher"></span><span class="common">Add Teacher</span></li>
    <li class=""><span class="common icon_sprite set_skills"></span><span class="common" style="margin-left:8px">Set Skills</span></li>  
   
    </ul>
</div>
<div class="app_Content">

{{outlet}}

</div>
</div>
